@import "~src/scss/index.scss";
.container {
  align-items: center;
  justify-content: center;

  strong {
    padding-left: 100px;
    font-size: larger;
    color: $primary;
  }  
  
  span {
    padding-left: 550px;
  }
}

.parrafo {
  justify-content: center;
  text-align: justify;
  padding-left: 100px;
  padding-right: 300px;
}