@import "~src/scss/index.scss";

.container {
  align-items: center;
  justify-content: center;
  background-image: url("/images/juegosNosotros.jpg");
  border-radius: 20px;

  strong {
    padding-left: 100px;
    font-size: larger;
    color: $primary;
  }  
  
  span {
    padding-left: 550px;
  }
}

.parrafo {
  justify-content: center;
  text-align: justify;
  padding-left: 100px;
  padding-right: 300px;
}