@import "~/src/scss/index.scss";

.container {
  width: 100%;
  padding: 50px 300px 0 300px;
  border-radius: 16px;
  background-image: url("/images/videojuegos.png");
  justify-content: center;
}



